.wrapper {
    padding: 24px;
    max-width: 100%;
    display: block;
}

.title {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: 700;
    text-align: center;
    font-size: 1.75rem;
}

.emptyMessage {
    width: 100%;
    margin-top: 60px;
    color: #868e96;
    font-weight: 400;
    text-align: center;
    font-size: 1.125rem;
}

/* Grid для адаптивного отображения карточек */
.cardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
    width: 100%;
    margin-bottom: 0;
}

/* Карточка товара в корзине */
.cartCard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Медиа-запросы для разных размеров экрана */
@media (max-width: 768px) {
    .cardsGrid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .cardsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1201px) {
    .cardsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.cardWrapper {
    border-radius: 16px;
    padding: 16px;
    width: 420px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.productCardInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.productCardFooter {
    margin-top: auto;
}

.priceText {
    font-weight: 700;
    font-size: 1rem;
}

.totalWrapper {
    width: 100%;
    border-top: 2px solid #f08c00;
    padding-top: 16px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    max-width: 1332px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.orderButtonWrapper {
    width: 100%;
    max-width: 1332px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.orderButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: 700;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.orderButton:hover {
    background-color: #f08c00;
    color: white;
    border-color: #f08c00;
}